.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form {
  width: 25%;
  margin-left: 37%;
  margin-top: 5%
  
}

.notelist {
  width: 200px;
  margin-left: 10%;
  max-height: 400px;
  overflow: scroll
}

.ui.menu {
  background-color: rgb(192, 222, 248)
}

.ui.container {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%
}