.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


#new-form {
  width: 50%;
  margin-left: 25%
}

#edit-form {
  width: 90%;
  margin-left: 10%
}

.notelist {
  width: 100%;
  margin-left: 10%;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto
}


.ui.menu {
  background-color: rgb(192, 222, 248)
}

.ui.container {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%
}

.note-detail {
  border: 1px solid darkgrey;
  width: 90%;
  margin-left: 5%;
  border-radius: 10px;
  padding: 20px;
}

.ui.segment {
  max-height: 150px;
  overflow: hidden
}